@{ 
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="./assets/fonts/Feather/feather.css">
    <link rel="stylesheet" href="./assets/libs/@@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./assets/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="./assets/libs/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="./assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="./assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="./assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="./assets/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="./assets/libs/quill/dist/quill.core.css" />

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="./assets/css/theme.min.css">

    <title>Landkit</title>

</head>
<body class="bg-light">
    <!-- WELCOME
    ================================================== -->
    <section data-jarallax data-speed=".8" class="pt-10 pb-11 py-md-14 overlay overlay-black overlay-60 jarallax" style="background-image: url(assets/img/covers/cover-4.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="display-2 font-weight-bold text-white">
                        Find a Doctor
                    </h1>

                    <!-- Text -->
                    <p class="lead text-white-75 mb-0">
                        Find nearby doctors in your network
                    </p>

                    <a asp-action="List" asp-controller="Providers" class="btn btn-white btn-sm mt-4">
                        See All Doctors <i class="fe fe-arrow-right"></i>
                    </a>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor" /></svg>
        </div>
    </div>

    <!-- CATEGORIES
    ================================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Form -->
                    <form method="get" class="rounded shadow mt-n6 mb-4" autocomplete="off" asp-action="List" asp-controller="Providers">
                        <div class="input-group input-group-lg">

                            <!-- Prepend -->
                            <div class="input-group-prepend">
                                <span class="input-group-text border-0 pr-1">
                                    <i class="fe fe-search"></i>
                                </span>
                            </div>

                            <!-- Input -->
                            <input name="query" type="text" class="form-control border-0 px-1" aria-label="Search for your doctor's name or specialty..." placeholder="Search for your doctor's name or specialty...">

                            <!-- Append -->
                            <div class="input-group-append">
                                <span class="input-group-text border-0 py-0 pl-1 pr-3">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Search
                                    </button>
                                </span>
                            </div>

                        </div>
                    </form>

                    <!-- Text -->
                    <div class="row align-items-center mb-6 mb-md-8">
                        <div class="col-auto">

                            <!-- Heading -->
                            <h6 class="font-weight-bold text-uppercase text-muted mb-0">
                                Common searches:
                            </h6>

                        </div>
                        <div class="col ml-n5">

                            <!-- Text -->
                            <p class="font-size-sm text-muted mb-0">
                                <a class="text-muted" asp-action="List" asp-controller="Providers" asp-route-query="Internal Medicine">Internal Medicine</a>,
                                <a class="text-muted" asp-action="List" asp-controller="Providers" asp-route-query="Cardiology">Cardiology</a>,
                                <a class="text-muted" asp-action="List" asp-controller="Providers" asp-route-query="Gastroenterology">Gastroenterology</a>
                            </p>

                        </div>
                    </div> <!-- / .row -->

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Internal Medicine">
                        <div class="card card-border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-primary text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Internal Medicine
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Dermatology">
                        <div class="card card-border border-success shadow-lg mb-6 mb-md-8 lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-success text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Dermatology
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Rheumatology">
                        <div class="card card-border border-warning shadow-lg mb-6 mb-md-8 lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-warning text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Rheumatology
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Endocrinology">
                        <div class="card card-border border-dark shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-dark text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Endocrinology
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Neurology">
                        <div class="card card-border border-primary-desat shadow-lg mb-6 mb-md-0 lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-primary-desat text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Neurology
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-6 col-lg-4">

                    <!-- Card -->
                    <a asp-action="List" asp-controller="Providers" asp-route-query="Gastroenterology">
                        <div class="card card-border border-danger shadow-lg lift lift-lg">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <div class="icon-circle bg-danger text-white mb-5">
                                    <i class="fe fe-users"></i>
                                </div>

                                <!-- Heading -->
                                <h4 class="font-weight-bold">
                                    Gastroenterology
                                </h4>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                            </div>
                        </div>
                    </a>

                </div>
            </div> <!-- / .row -->
        </div>
    </section>

    <!-- FORM
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-5 pb-md-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h2 class="font-weight-bold">
                        Can't find the answer you need?
                    </h2>

                    <!-- Text -->
                    <p class="font-size-lg text-muted mb-7 mb-md-9">
                        Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with BrainHi.
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row mb-7 mb-md-9">
                <div class="col-12 col-md-4 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">
                        Message us
                    </h6>

                    <!-- Link -->
                    <div class="mb-5 mb-md-0">
                        <a href="#!" class="h4 text-primary">
                            Start a chat!
                        </a>
                    </div>

                </div>
                <div class="col-12 col-md-4 text-center border-left-md border-gray-300">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">
                        Call anytime
                    </h6>

                    <!-- Link -->
                    <div class="mb-5 mb-md-0">
                        <a href="#!" class="h4">
                            (555) 123-4567
                        </a>
                    </div>

                </div>
                <div class="col-12 col-md-4 text-center border-left-md border-gray-300">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">
                        Email us
                    </h6>

                    <!-- Link -->
                    <a href="#!" class="h4">
                        support@example.com
                    </a>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- FORM
    ================================================== -->
    <section class="pb-8 pb-md-14">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">

                    <!-- Heading -->
                    <h2 class="font-weight-bold">
                        Are you a health provider?
                    </h2>

                    <!-- Text -->
                    <p class="font-size-lg text-muted mb-3 mb-md-5">
                        You can submit a request to be added into our platform as a health care provider.
                    </p>

                    <a class="btn btn-primary btn-lg lift" asp-action="Create" asp-controller="Providers">
                        Submit Request
                    </a>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor" /></svg>
        </div>
    </div>

    <!-- FOOTER
    ================================================== -->
    <footer class="py-8 py-md-11 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">

                    <!-- Brand -->
                    <img src="./assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">

                    <!-- Text -->
                    <p class="text-gray-700 mb-2">
                        A better way to build.
                    </p>

                    <!-- Social -->
                    <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 col-lg-2">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Products
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Page Builder
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                UI Kit
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Styleguide
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Documentation
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-reset">
                                Changelog
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 col-lg-2">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Services
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Documentation
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Changelog
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Pagebuilder
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-reset">
                                UI Kit
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Connect
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Page Builder
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                UI Kit
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Styleguide
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Documentation
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Changelog
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Documentation
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-reset">
                                Changelog
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 col-lg-2">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Legal
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Documentation
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Changelog
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-reset">
                                Pagebuilder
                            </a>
                        </li>
                    </ul>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/@@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/libs/aos/dist/aos.js"></script>
    <script src="./assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="./assets/libs/countup.js/dist/countUp.min.js"></script>
    <script src="./assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="./assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="./assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="./assets/libs/quill/dist/quill.min.js"></script>
    <script src="./assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./assets/libs/typed.js/lib/typed.min.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="./assets/js/theme.min.js"></script>


</body>
</html>